.navigation {
    position: absolute;
    top: 0;
    overflow: auto;
    background: white;
    padding: 2rem;
    bottom: 0;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .1);
    a {
        display: block;
        padding: 2rem 1rem;
    }
}