.favorite-aside {
    width: 300px;
    transform: translateX(100%);
    background: #272822;
    color: white;
    overflow: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    overflow: auto;
    transition: transform .5s ease-in-out;
    top: 0;
    color: #999;
    .location {
        padding: 1rem;
        transition: all .1s ease-in-out;
        &:hover {
            background: rgba(255,255,255,.1);
            color: white;
            cursor: pointer;
            transform: scale(1.02);
        }
    }
    &.is-open {
        transform: translateX(0)
    }
}

.favorite-bar {
    list-style: none;
    padding: 0;
    margin: 0;
    .fa {
        padding: 0 .5rem 0 0;
    }
}

.logo {
    padding: 0 3rem;
    font-size: 1.3rem;
    font-weight: normal;
    border-color: rgba(255, 255, 255, .1);
}